.icon-test {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;

  &__container {
  display: flex;
  flex-direction: column;
  margin: 200px;
  }

  &__input {
    display: flex;
    flex-direction: row;
  }
}

input {
  -webkit-appearance:none;
      -moz-appearance:none;
          appearance:none;
  width: 200px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  cursor: pointer;

  &:hover {
    filter: brightness(1.8) grayscale(1) opacity(.7);
  }
}

$icons:'gchat', 'gcal', 'gdrive', 'gdocs', 'gmail';

@each $icon in $icons {
  .#{$icon} {
    background-image: url('../gsuite/#{$icon}.png');
  }
}
